{{#each presets}}
    <div class="jumbotron">
        <h4>{{this.name}}</h4>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>Shuffle:</dt>
                    {{#ifCond this.data.playMode.shuffle "===" "true"}}
                        <dd>On</dd>
                    {{/ifCond}}
                    {{#ifCond this.data.playMode.shuffle "===" "false"}}
                        <dd>Off</dd>
                    {{/ifCond}}
                    <dt>Repeat:</dt>
                    {{#ifCond this.data.playMode.repeat "===" "all"}}
                        <dd>All</dd>
                    {{/ifCond}}
                    {{#ifCond this.data.playMode.repeat "===" "false"}}
                        <dd>Off</dd>
                    {{/ifCond}}
                    <dt>Crossfade:</dt>
                    {{#ifCond this.data.playMode.crossfade "===" "true"}}
                        <dd>On</dd>
                    {{/ifCond}}
                    {{#ifCond this.data.playMode.crossfade "===" "false"}}
                        <dd>Off</dd>
                    {{/ifCond}}
                    <dt>Favorite<br/>Playlist:<br/>Spotify URI</dt>
                    {{#if this.data.uri}}
                        <dd>{{this.data.uri}}</dd>
                    {{/if}}
                    {{#if this.data.favorite}}
                        <dd>{{this.data.favorite}}</dd>
                    {{/if}}
                </dl>
            </div>
            <div class="col-md-8">
                <table id="table-player" class="table table-striped table-bordered">
                    <tr>
                        <th>Players</th>
                        <th>Volume</th>
                    </tr>
                    {{#each this.data.players}}
                        <tr>
                            <td>{{this.roomName}}</td>
                            <td>{{this.volume}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <form action="/presets/" method="post">
            <input type="hidden" class="form-control" name="loadPreset[name]" value="{{this.name}}">
            <input type="hidden" class="form-control" name="loadPreset[file]" value="{{this.name}}.json">
            <button type="submit" class="btn btn-primary">Load Preset</button>
        </form>
    </div>
{{/each}}